html {
	--panecolor: rgb(255,255,255);
	--textcolor: rgb(0,0,0);
	user-select: none;
	height:100%;
}
body {
	overflow: hidden;
	--accentcolor: lightblue;
}

*:focus {
	outline: 1px solid lightgray
}

b {
	font-weight: bold !important
}

#imgView {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: black;
	object-fit: cover;
}

.tabdiv {
	width:100%;
	height:100%;
	position:relative
}

.tabdiv>img {
	position: absolute;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	/*user-drag: none;transform-origin: top left;*/
	transition: width 0.2s, height 0.2s, transform 0.2s;
	/*image-rendering: pixelated;*/
}

.tabdiv>img.aniLR {
	transition: width 0.2s, height 0.2s, top 0.2s, left 0.2s, transform 0.2s;
}

toolbar {
	background: white;
	height: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index:1;
	overflow:hidden;
}

toolbar>input[type="color"] {
	padding: 3px;
	width: 30px;
	height: 30px;
	margin: 0;
	border: none;
	transition: background 0.1s;
	transition-delay: -0.02s;
}

toolbar>button {
	padding: 3px;
	width: 30px;
	height: 30px;
	background: transparent;
	border: none;
	transition: background 0.1s;
	transition-delay: -0.02s;
	display:flex;
	align-items:center;
	justify-content:center;
}

toolbar>button:hover {
	background: lightgray;
}

toolbar>button:active {
	background: gray;
}

toolbar>button>svg {
	width: 24px;
	height: 24px;
}

toolbar>sep {
	display: block;
	width: 6px;
}

imgmain {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	min-width: 0;
	min-height: 0;
	overflow:hidden;
}

main {
	display: flex;
	width: 100%;
	height: 100%;
}

#loadingText {
	position: absolute;
	top: 0;
	left: 0;
	color: gray;
	z-index: 5;
}

#loading {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	z-index: 5;
}

.PKAbleSizeSelect {
	border: none;
}

.fullscreenWindow {
	background: white;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 100%;
	transition: top 0.6s;
}

.popupWindow {
	background: white;
	width: 80%;
	height: 80%;
	position: fixed;
	z-index: 100;
	left: 10%;
	top: 100%;
	transition: top 0.6s, opacity 0.6s;
	opacity:0;
	border-radius: 6px;
	/*resize:both;*/
}

.fullscreenWindowContent {
	width: 100%;
}

.popupWindowContent {
	width: 100%;
}

.fullscreenWindowClose {
	float: right;
	content: '\00D7';
	font-size: 20px;
}

.popupWindowClose {
	float: right;
	content: '\00D7';
	font-size: 20px;
}


input {border:none}

@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(20, 20, 20);
		color: white;
	}

	svg {
		fill: white
	}

	select {
		color: white;
		background: rgb(20, 20, 20)
	}

	toolbar {
		background: rgb(20, 20, 20)
	}

	toolbar.newsupported {
		background: rgba(20, 20, 20,0.8)
	}

	/*toolbar>button {
		background: rgb(20, 20, 20)
	}*/

	toolbar>button:hover {
		background: rgba(50, 50, 50,0.5)
	}

	button {
		background: rgb(40, 40, 40)
	}

	button:hover {
		background: rgb(70, 70, 70)
	}

	.fullscreenWindow {
		background: rgb(10, 10, 10);
		color: white
	}
	
	.popupWindow {
		background: rgb(10, 10, 10);
		color: white
	}

	#tabSwitcher>div {
		color: white
	}
	
	#tabSwitcher>div:hover {
		background-color: rgba(255, 255, 255, 0.1)
	}

	#tabSwitcher>div.active {
		background-color: rgba(255, 255, 255, 0.3)
	}

	#tabSwitcher {
		background-color: rgb(20, 20, 20,0.8)
	}

	.tabClose>svg {
		fill: transparent
	}

	.tabClose>svg:hover {
		fill: white
	}

	html {
		--panecolor: rgb(20,20,20);
		color:white;
		--textcolor: rgb(255,255,255);
	}

	button {
		color:white;
	}
	.pane {
		outline: none;
		background: rgba(20,20,20,0.8)
	}
	.pane:focus {
		outline: none;
		background: rgba(20,20,20,0.9)
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;
	}

	svg {
		fill: black
	}

	select {
		color: black;
		background: white
	}
	
	toolbar {
		background: rgb(255,255,255)
	}

	toolbar.newsupported {
		background: rgba(255,255,255,0.8)
	}

	/*toolbar>button {
		background: white
	}*/

	toolbar>button:hover {
		background: lightgray
	}

	button {
		background: rgb(240, 240, 240)
	}

	button:hover {
		background: rgb(200, 200, 200)
	}

	.fullscreenWindow {
		background: white;
		color: black
	}
	
	.popupWindow {
		background: white;
		color: black
	}

	#tabSwitcher>div {
		color: black
	}
	
	#tabSwitcher>div:hover {
		background-color: rgba(0, 0, 0, 0.1)
	}

	#tabSwitcher>div.active {
		background-color: rgba(0, 0, 0, 0.3)
	}

	#tabSwitcher {
		background-color: rgb(255, 255, 255,0.8)
	}

	.tabClose>svg {
		fill: transparent
	}

	.tabClose>svg:hover {
		fill: black
	}
	.pane:focus {
		outline: none;
		background: rgba(0,0,0,0.02)
	}
	html {
		--panecolor: rgb(255,255,255);

		color:black;
		--textcolor: rgb(0,0,0);
	}
	button {
		color:black;
	}
	.pane {
		outline: none;
		background: rgba(255,255,255,0.8)
	}
	.pane:focus {
		outline: none;
		background: rgba(255,255,255,0.9)
	}
}
.ilitem {
	display: flex;
	margin-bottom: 2px
}

.ilitem>span {
	word-break: break-all
}

.loader {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5)
}

.circular>.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
	stroke: white;
}

.circular {
	height: 60px;
	width: 60px;
	position: absolute;
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

nodisplay {
	display: none
}

#tabSwitcher {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	min-height: 26px;
	flex-shrink: 0;
	z-index:1;
}

.clickable {
	cursor: pointer
}

.tabHeader {
	text-overflow: ellipsis;
	width: 250px;
	overflow: hidden;
	white-space: nowrap;
}

#tabSwitcher>div {
	display: inline-flex;
	padding: 3px;
	align-items: center;
	transition: 0.2s;
	cursor: pointer;
	border-radius:8px 8px 0px 0px;
}

#tabSwitcher>div.active {
	cursor:auto;
}

.tabClose {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	overflow: hidden;
	margin-left: 2px;
	flex-shrink: 0;
	transition: background 0.2s
}

#tabSwitcher>div.active>.tabClose>svg {
	fill: white
}

#tabSwitcher>div.active>.tabClose>svg:hover {
	fill: black
}

/*#tabSwitcher > div.active > .tabClose {background-color:red}*/

hiddenpart {
	width: 0;
	height: 0;
	overflow: hidden;
	display: block
}

.fileListItem {
	display:flex;
	justify-content:center;
}

.fileListItem>img {
	max-height: 100px;
	max-width: 245px
}

editorImageScrollablePart {
	display: flex;
	overflow: auto;
	width: 100%;
	height: 100%;
	position:relative;
}
editormain {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

marginAuto {
	display: inline-block;
	margin: auto;
}
button {border:0;background-color: transparent;}

#zoominf {
	background: rgba(0,0,0,0.4);
	color: white;
	position: absolute;
	bottom: 10px;
	right: 10px;
	pointer-events: none;
	transition: opacity 200ms;
	opacity: 0;
	padding: 2px;
	z-index: 10;
}

img, svg {/*vertical-align:middle;*/display: block;}

popuppane {
	position: absolute;
	display: none;
	background-color: var(--panecolor);
	display:none;
	opacity:0;
	transition: opacity 0.2s;
}

@media (prefers-reduced-motion: reduce) {
	toolbar>button {
		transition: none;
	}
	#tabSwitcher>div {
		transition: none;
	}
	.tabClose {
		transition: none;
	}
	.fullscreenWindow {
		transition: none;
	}
	popuppane {
		transition: none;
	}
	.tabdiv>img {
		transition:none;
	}
	.tabdiv>img.aniLR {
		transition:none;
	}
	#zoominf {
		transition: none;
	}
	.overlay {
		transition: none !important;
	}
	.popupWindow {
		transition: none;
	}
	.scaleonhover {
		transition: none;
	}
	.pane {
		transition:none !important;
	}
	.leftbutton {
		transition:none !important;
	}
	.rightbutton {
		transition:none !important;
	}
}

.fullscreenWindow:focus {
	outline: none;
}

.popupWindow:focus {
	outline: none;
}

.sticky {position:sticky;top:0;background: var(--panecolor)}
.stickynopanecolor {position:sticky;top:0;}

.th {font-weight: bold !important;}

.dangerousbtnicon {
	fill:red;
}

.dangerousbtnicon:hover {
	fill:darkred;
}

.dangerousbtn {
	background-color:red;
	color:white
}

.dangerousbtn:hover {
	background-color:darkred;
}

.overlay {
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:100;
	position:fixed;
	background: rgba(0,0,0,0.3);
	transition: opacity 0.6s;
	opacity:0;
}

.previewsvg {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	pointer-events:none;
}

.listWithImages {
	width:100%;
}
.listWithImages > button {
	display:flex;
	width:100%;
	min-height:40px;
	align-items:center;
	text-align:left;
}
.roundedImg {
	border-radius:100%;
	width:40px;
	height:40px;
	flex-shrink:0;
}

editorhome {
	display:block;
	width:100%;
	height:100%;
	overflow:auto;
}

flex {display:flex;align-items:center}

h3 {margin:4px}

.noshrink > * {flex-shrink:0}
carditem {
	display:block;
	border-radius:4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor:pointer;
}

carditem:hover {
	background-color: rgba(0,0,0,0.1)
}

carditem > img {
	object-fit: cover;
	width:100%;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

.fillcontainer {
	width: 100%;
	height: 100%;
}

.linedelem {
	display:block;
	width:100%;
}

.smallo {
	font-size:10px;
	opacity:0.6;
}

.scaleonhover {
	transition: 0.1s;
}

.scaleonhover:hover {
	z-index:5;
	transform:scale(1.2)
}

.showinfoonhover:not(:hover) > info {
	display:none
}
.showinfoonhover:hover {
	background-color: var(--panecolor)
}
.bghover:hover {
	background-color: var(--panecolor)
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	margin-top: -5px;
}

input[type=range]::-webkit-slider-runnable-track {
	background-color: var(--accentcolor);
	height:5px;
}

.resizable {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  border: 3px solid var(--accentcolor);
  box-sizing: border-box;
}

.resizable .resizers .resizer{
  width: 15px;
  height: 15px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid var(--accentcolor);
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}

.controlbuttons {
	right:0px;
	top:100%;
}

h4 {margin:4px;}

.roundbutton {
	border-radius: 100%;
	border: 1px solid var(--accentcolor);
	width:100px;
	height:100px;
	background: rgba(0,0,0,0.2)
}

.leftbutton {
	position:absolute;
	opacity:0;
	transition: all 0.2s;
	top: calc(50% - 50px);
	z-index:1;
	width:100px;
	height:100px;
}

.leftbutton > .roundbutton {
	padding:24px;
}

.leftbutton:not(:hover) {
	right: calc(100% - 20px);
}

.leftbutton:hover {
	right: calc(100% - 100px);
	opacity: 1;
}

.rightbutton {
	position:absolute;
	opacity:0;
	transition: all 0.2s;
	top: calc(50% - 50px);
	z-index:1;
	width:100px;
	height:100px;
}

.rightbutton > .roundbutton {
	padding:26px;
}

.rightbutton:not(:hover) {
	left: calc(100% - 20px);
}

.rightbutton:hover {
	left: calc(100% - 100px);;
	opacity: 1;
}
